.appBar {
    display: flex;
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: #555;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease 0s;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    z-index: unset;
}

.absolute {
    position: absolute;
    z-index: 1100;
}

.fixed {
    position: fixed;
    z-index: 1100;
}

.title {
    /*default font*/
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /*    line-height: 1.5em;*/
    font-weight: 300;

    line-height: 30px;
    font-size: 18px;
    border-radius: 3px;
    text-transform: none;
    color: inherit;
    padding: 8px 16px;
    letter-spacing: unset;
}

.title:hover, .title:focus {
    color: inherit;
    background: transparent;
}

.flex {
    flex: 1
}

.container {
    /* for header*/
    min-height: 50px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;

    /*for each header*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}